@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  *,
  *::before,
  *::after {
    @apply box-border;
  }

  a {
    @apply text-inherit;
  }

  img {
    @apply block max-w-full;
  }
}
